*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
main{
    height: 2509px;
}
nav{
    height: 100px;
    padding: 10px;
    
}
.navbar ul{
    display: flex;
    justify-content: end;
}
.navbar ul li{
    list-style: none;
    padding: 20px;
    font-size: 19px;
}
.navbar{
    display: flex;
    margin-top: 15px;
}
img{
    margin-right: 256px;
    width: 168px;
    margin-left: 37px;
}
.para{
    text-align: center;
    font-size: 1.5em;
    margin: 0 173px;
}
.para h3{
    font-size: 2em;
    padding: 35px 0;
}
.but{
    margin-left: 301px;
    margin-top: 32px;
}
button{
    background-color: #08c0ed;
    padding: 15px;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    border: none;
}
.logo{ 
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.logo img{
    margin-right: 33px;
    margin-left: 130px;
    width: 60px;
}
.container2{
    display: flex;  
    flex-wrap: wrap;
    margin: 48px 105px;
    justify-content: space-evenly;
}
.box{
    background-color: rgb(246, 246, 246);
    height: 127px;
    width: 272px;
    padding: 24px 10px;
    margin: 10px;
}
.box h3{
    text-align: center;
    background-color: rgb(246, 246, 246);
}
.buts{
    margin-top: 66px;
    display: flex;
    background-color: rgb(246, 246, 246);
}
.buts button{ 
    font-size: 12px;  
    width: 135px;
    height: 40px;
}
.b1:first-child{
    margin-right: 10px;
}
.b2{
    background-color: rgb(52, 163, 52);
}
.container3{
    background-color: rgb(32, 32, 32);
    padding: 48px 0;
    height: 646px;
    width: 100%;
}
.subscribe-heading{
    margin: 0px 128px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.heading{
    padding-top: 142px;
    text-align: center;
    color: white;
}
.heading h3{
    font-size: 24px;
    padding-bottom: 18px;
}
.heading p{   
    width: 386px;
    line-height: 26px;
}
.subs{
    border-radius: 10px;
    flex-wrap: wrap;
    text-align: center;
    background-color: white;
}
.subs h4{
    color: #08c0ed;
    font-size: 26px;
    padding: 27px 19px;
}
.subs label, input, button{
    display: block;
    align-items: center;
}
.subs label{
    font-size: 14.4px;
}
.subs input{
    border: 1px solid rgb(191, 191, 191);
    margin: 10px 38px;
    width: 253px;
    height: 28px;
    padding: 10px;
}
.subs button{
    border-radius: 4px;
    width: 278px;
    margin: 0px 46px 38px 37px;
    height: 43px;
}
.para2{
    color: white;
    margin: 139px 128px 0px 128px;
}
.para2 h3{
    padding-bottom: 10px;
    font-size: 24px;
}
.para2 p{
    padding-bottom: 16px;
    font-size: 16px;
}
.container4{
    padding: 70px 0px 55px 0px;
}
.lists{
    display: flex;
    margin: 0px 128px;
    padding: 24px 0px;
}
.lists ul li{
    padding-bottom: 8px;
    color: rgb(58, 58, 58);
    font-size: 14px;
    list-style: none;
}
.lists h4{
    padding-bottom: 21px;
    font-size: 16px;
}
.listss{
    margin-right: 10px;
    height: 20px;
    width: 218px;
}
.list4 li{
    height: 20px;
    width: 230px;
    line-height: 22px;
}
.subs1{
    margin-top: 27px;
}
.subs1 input{
    padding: 11px;
    width: 200px;
    margin-bottom: 10px;
}
.subs1 button{
    width: 230px;
}
.foot{
    margin: 0px 128px;
    padding: 35px 0px;
}
.foot-logo img{
    margin: 0;
}
.foot p{
    font-size: 12px;
    color:rgb(132, 132, 132) ;
    padding-top: 15px;
}
